

      <div class="jumbotron banner">
        <div class="row">
		  <div class="col-sm-7">
		  	<p class="h4 text">Welcome to</p>
        	<h1 class="display-4 text">Lucky Clover Restaurant</h1>
        	<p><a class="btn btn-lg btn-default" href="#" role="button">Sign up today</a></p>
		  </div>
		  <div class="col-sm-5">
			<img src="https://charitydine-media.s3.amazonaws.com/thumbs/restaurant-images/c0f8e5ef19b1879ba3c5efef52a688449e1f8838_large.jpg"/>		  	
		  </div>
		</div>
      </div>