// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
	background-color: #32CD32;

	.text {
	 	color: white;
	}
	.content-box {
		display: table-cell;
   		vertical-align: middle;
	}
};
